footer {
    background-color: rgb(221, 217, 217);
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;


.copi {
    padding-top: 35px;
    padding-left: 3px;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.top a {
    list-style: none;
    text-decoration: none;
    font-size: medium;
    color: black; padding: 2px; border: 1px solid black;
}

.fonts a {
    display: none;
}

}