h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.miliuno .milidos .militres{
    width: 1150px;
    height: 539px;
    border: 2px $color-ppal solid;
}


.maruno .mardos .martres{
    width: 1150px;
    height: 539px;
    border: 2px $color-ppal solid;
}



.soluno .soldos .soltres{
    width: 1150px;
    height: 539px;
    border: 2px $color-ppal solid;
}

.mili p {
    font-family: $tipografia-ppal;}
